html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.category-btn{
    background:black;
    color: coral;
    border: none;
    outline: none;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}
.react-player{
 height:77vh;
 width:100%;
 flex: 2;
 border:2px solid white;
border-radius: 7px 0px 7px 0px ;

}

@media screen and (min-Width:'630px'){
    .react-player{
        width:300px;
    }
}